/* DateSelector.module.css */

.datePickerInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.datePickerCalendar {
  z-index: 1000; /* Đảm bảo lịch xuất hiện trên cùng */
}

.react-datepicker-wrapper {
  width: 100%; /* Đảm bảo input của datepicker chiếm đủ chiều rộng */
}

.react-datepicker {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.react-datepicker__header {
  background-color: #ff7a00;
  color: white;
  border-bottom: none;
}

.react-datepicker__current-month {
  font-size: 16px;
  font-weight: bold;
}

.react-datepicker__day--selected {
  background-color: #ff7a00;
  color: white;
}

.react-datepicker__day--keyboard-selected {
  background-color: #e66a00;
  color: white;
}

.react-datepicker__day {
  margin: 3px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.react-datepicker__day:hover {
  background-color: #e66a00;
  color: white;
}
